.article-cards {
  margin: 0 auto;
  padding: 16px;
  width: 960px;
}
.article-cards__item {
  height: 420px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0.5rem 0.5rem 1rem 0px rgba(0, 0, 0, 0.4);
  transition: transform 0.25s;
}
.article-cards__item:hover {
  transform: scale(1.05);
}
.article-cards__item a {
  text-decoration: none;
}
.article-cards__item__title {
  padding: 0.5em;
  border-left: 8px solid #cfffc5;
}
.article-cards__item__description {
  padding: 8px;
  height: 220px;
}
.article-cards__item__description p {
  margin: 0;
}
.article-cards__item__attachment {
  margin: 0;
  height: 100%;
  text-align: center;
}
.article-cards__item__attachment__image {
  vertical-align: middle;
  margin: 8px;
  max-width: calc(100% - 16px);
  height: 184px;
}

@media screen and (max-width: 480px) {
  .article-cards {
    grid-template-columns: repeat(1, 1fr);
  }
}