@use 'var';

$header-height: 64px;

.logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    margin: 0 1em;
    
    text-decoration: none;
}

.header {
    width: 100%;
    height: $header-height;

    background-color: var.$color--main;

    &-wrapper {
        display: flex;
        flex-direction: row;
    
        justify-content: space-between;
        align-items: center;

        width: var.$breakpoint--pc-min;

        margin: 0 auto;
    }
}

#toggle-global-nav {
    display: none;
}

.global-nav {
    &__list {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

        padding: 0;
        margin: 0;

        list-style: none;
    }

    &__item {
        height:  $header-height;

        line-height:  $header-height;
        text-align: center;

        & a {
            display: block;

            width: 100%;
            min-width: 5em;
            height: 100%;

            padding: 0 1em;

            text-decoration: none;

            transition: background-color 0.5s;

            &:hover{
                background-color: var.$color--accent;
            }
        }
    }
}

@media screen and (max-width: var.$breakpoint--pc-min){
    .global-nav {
        $global-nav-transition-sec: 0.5s;

        position: fixed;

        top: 0;
        right: -75%;

        width: 75%;
        height: 100%;

        padding: 32px 0;

        background-color: rgba($color: var.$color--base, $alpha: 0.75);

        transition: transform $global-nav-transition-sec;
        
        &__list {
            flex-direction: column;
            justify-content: center;

            height: 100%;

            & li {
                width: 100%;

                margin: 24px 0;

                & a {
                    width: 80%;

                    margin: 0 auto;

                    border-bottom: 1px solid var.$color--accent;

                    color: var.$color--accent;
                    font-size: 24px;
                }
            }
        }

        &__toggle-label {
            display: block;
            position: fixed;
                
            top: 24px;
            right: 24px;

            z-index: 100;

            &__animation-bar {
                display: block;

                margin: 4px 0;

                width: 40px;
                height: 4px;

                background-color: #585555;
                border-radius: 2px;

                transition: transform $global-nav-transition-sec;
            }
        }
    }

    #toggle-global-nav:checked + .global-nav__toggle-label .global-nav__toggle-label__animation-bar {
        &:first-child {
            transform: translateY(4px) rotate(210deg);
        }
        &:last-child {
            transform: translateY(-4px) rotate(330deg);
        }
    }

    #toggle-global-nav:checked ~ .global-nav {
        transform: translateX(-100%);
    }
}