@use 'sass:math';
@use 'var';

@import 'https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@500&display=swap';

* {
    box-sizing: border-box;

    color: var.$color--base;

    font-family: 'Zen Maru Gothic', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin: 0;

    background-color: white;
}

p,
h2,
h3 {
    white-space: break-spaces;
}

h2 {
    padding: 12px 16px;
    border-bottom: 4px solid var.$color--accent;
}

h3 {
    padding: 8px 16px;
    border-left: 8px solid var.$color--main;
}

main {
    width: var.$breakpoint--pc-min;
    margin: 16px auto;
    padding: 16px;

    min-height: calc(100vh - var.$footer-height);
}

.external-link {
    display: inline-flex;
    vertical-align: bottom;

    & svg {
        width: 24px;
        height: 24px;
    }
}

.typing {
    width: 23ch; // 文字数 (animation stepsも同様

    padding-right: 2px;

    white-space: nowrap;
    overflow: hidden;

    border-right: 2px solid; // カーソルの大きさ

    font-size: 16px;

    box-sizing: content-box;

    animation: typing 2s steps(23), blink .5s step-end infinite alternate;
}

.google-form-embed {
    width: 100%;
    height: 890px;
}

.official-icon {

    &__small {
        width: 64px;
        height: 64px;
    }
}

.no-select {
    user-select: none;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    min-height: 512px;

    margin: 0 auto;

    &__title {
        text-align: center;
        font-size: 48px;
    }
}

.center-align {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2em 1.5em;
}

.scheduled-event {
    height: 320px;

    overflow: scroll;

    // idea from chatGPT
    &__content {
        margin-bottom: 16px;
        padding: 16px;

        background-color: #f0f0f0; // 通常時の背景色
        border: 1px solid #ccc; // 通常時のボーダー色
        padding: 10px;

        &--active {
            background-color: #e0ffe0; // アクティブ時の背景色
            border-color: #00c800; // アクティブ時のボーダー色
            box-shadow: 0 0 10px rgba(0, 200, 0, 0.5); // アクティブ時のシャドウ効果
        }

        &--none {
            display: flex;
            justify-content: center;
            align-items: center;

            width: 100%;
            height: 100%;

            background-color: lightgray;
        }
    }
}

.media-container {
    $media-content-width: math.div(var.$breakpoint--pc-min, 2);

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    &__content {
        width: $media-content-width;

        padding: 1em;
    }

    &__image {
        display: flex;

        width: $media-content-width;

        margin: 0;

        & img {
            display: block;
            width: $media-content-width;
            height: calc($media-content-width * 0.75);
        }
    }

    &:nth-child(odd) {
        flex-direction: row-reverse;
    }
}

.members-container {
    margin: 8px;
}

.member-introduce {
    padding: 16px;
}

.markdown-body {
    padding: 16px;
}

.toc-container {
    width: math.div(var.$breakpoint--pc-min, 2);

    margin: 0 auto;

    border: 2px solid var.$color--accent;

    &__title {

        & h2 {
            margin: 0;
            padding: 8px;

            text-align: center;
            background-color: var.$color--accent;

            cursor: pointer;

            &::after {
                content: "[開く]";
                display: inline-block;
                margin-left: 16px;
                font-size: 12px;
            }
        }

        & input[type="checkbox"] {
            display: none;
        }
    }

    &__list {
        display: none;

        & li {
            height: 32px;
            line-height: 32px;

            & a {
                display: block;

                width: 100%;
                height: 100%;

                text-decoration: none;
            }
        }

        //list-style: none;
    }

    &:has(:checked)>&__list {
        display: block;
    }

    &:has(:checked)>&__title h2::after {
        content: "[閉じる]";
    }
}

.markdown-preview-container {
    display: flex;
    flex-direction: row;

    width: 100%;
    height: 80vh;

    &__editor {
        width: 50%;

        & textarea {
            width: 100%;
            height: 100%;

            padding: 16px;
        }
    }

    &__preview {
        width: 50%;

        padding: 16px;

        overflow: scroll;

        border: 1px solid var.$color--base;
    }
}

@keyframes typing {
    from {
        width: 0;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

@media screen and (max-width: var.$breakpoint--pc-min) {
    * {
        max-width: 100%;
    }

    p {
        font-size: 16px;
    }

    .hero {
        height: 420px;
    }

    .grid-container {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1.5em 1em;
    }

    .media-container {
        flex-direction: column;

        &:nth-child(odd) {
            flex-direction: column;
        }

        &__image {
            & img {
                width: 100vw;
                height: calc(100% * 0.75);
            }
        }
    }

    .toc-container {
        width: math.div(var.$breakpoint--pc-min, 3);
    }
}