@use 'sass:math';
@use 'var';

@import 'https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@500&display=swap';

* {
    box-sizing: border-box;

    color: var.$color--base;

    font-family: 'Zen Maru Gothic', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    min-height: 100vh;

    margin: 0;

    background-color: white;
}

h2 {
    text-align: center;
}

h3 {
    padding-left: 16px;
    border-left: 8px solid var.$color--main;
}

p {
    margin: 0;
}

main {
    width: var.$breakpoint--pc-min;
    margin: 16px auto;
}

.external-link {
    display: inline-flex;
    align-items: center;

    & svg {
        width: 24px;
        height: 24px;
    }
}

.official-icon {

    &__small {
        width: 64px;
        height: 64px;
    }
}

.no-select {
    user-select: none;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    min-height: 512px;

    margin: 0 auto;

    &__title {
        text-align: center;
        font-size: 48px;
    }
}

.center-align {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2em 1.5em;
}

.media-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    &__content {
        width: math.div(var.$breakpoint--pc-min, 2);

        padding: 1em;
    }

    &__image {
        display: flex;

        width: math.div(var.$breakpoint--pc-min, 2);

        margin: 0;

        & img {
            width: 100%;
        }
    }

    &:nth-child(odd) {
        flex-direction: row-reverse;
    }
}

.members-container {
    margin: 8px;
    padding-left: 32px;

    border: 1px dashed var.$color--accent;
}

.toc-container {
    width: math.div(var.$breakpoint--pc-min, 1.5);

    margin: 0 auto;

    border: 2px solid var.$color--accent;

    &__title {

        & h2 {
            margin: 0;
            padding: 1rem;

            text-align: center;
            background-color: var.$color--accent;

            cursor: pointer;

            &::after {
                content: "[開く]";
                display: inline-block;
                margin-left: 16px;
                font-size: 12px;
            }
        }

        & input[type="checkbox"] {
            display: none;
        }
    }

    &__list {
        display: none;

        & li {
            height: 64px;
            line-height: 64px;

            & a {
                width: 100%;
                height: 100%;

                text-decoration: none;
            }
        }

        //list-style: none;
    }

    &:has(:checked)>&__list {
        display: block;
    }

    &:has(:checked)>&__title h2::after {
        content: "[閉じる]";
    }
}

.markdown-preview-container {
    display: flex;
    flex-direction: row;

    width: 100%;
    height: 80vh;
    
    &__editor {
        width: 50%;

        & textarea {
            width: 100%;
            height: 100%;

            padding: 16px;
        }
    }

    &__preview {
        width: 50%;

        padding: 16px;

        overflow: scroll;

        border: 1px solid var.$color--base;
    }
}

@media screen and (max-width: var.$breakpoint--pc-min){
    * {
        max-width: 100%;
    }

    p {
        font-size: 16px;
    }

    .hero {
        height: 420px;
    }

    .grid-container{
        grid-template-columns: repeat(2, 1fr);
    }
    
    .media-container {
        flex-direction: column-reverse;
        &:nth-child(odd) {
            flex-direction: column-reverse;
        }
    }
}